doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title What Language?
    link(rel='icon', type='image/png', href='/favicon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Inconsolata:400,700")
  body
    .container-fluid
      .row
        #root
    script(src='/bundle.js')
