doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Koa-React-Starter
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Inconsolata:400,700")
    script(src='http://localhost:35729/livereload.js')
  body
    .container-fluid
      .row
        #root
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js')
    script(src='/dist/bundle.js')
