.settings
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  height: 100vh

  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.8)


.settings__related
  display: flex
  width: 75%
  text-align: left
  pointer-events: none


.settings__suggestion
  width: 50%


.settings__suggestion:first-child
  padding: 0 2em 0 0


.settings__suggestion:last-child
  padding: 0 0 0 2em


.settings__suggestion h3
  font-size: 1.35em
  margin: 0


.settings__suggestion p
  font-size: 1.15em
  line-height: 1.4
  margin: 0.75em 0 0 0







/************************/
/* Transitions       */
/************************/

.main-wrap
  position: relative
  transition: transform 0.5s


.main-wrap--move
  transform: scale3d(0.7,0.7,1)


.main-wrap--move .btn--settings
  pointer-events: none
  opacity: 0


.settings
  pointer-events: none


.settings--open
  pointer-events: auto


.settings::before
  opacity: 0
  transition: opacity 0.5s


.settings--open::before
  opacity: 1


/* Close button */
.btn--settings-close
  opacity: 0
  transition: opacity 0.5s


.settings--open .btn--settings-close
  opacity: 1


/* Search form with input and description */

.settings__suggestion,
.settings__info
  opacity: 0
  transform: translate3d(0, 50px, 0)
  transition: opacity 0.4s, transform 0.4s


.settings--open .settings__suggestion,
.settings--open .settings__info
  opacity: 1
  transform: translate3d(0, 0, 0)


.settings--open .settings__suggestion:first-child
  transition-delay: 0.15s


.settings--open .settings__suggestion:nth-child(2)
  transition-delay: 0.2s


.settings--open .settings__input
  transform: scale3d(1,1,1)
  transition-duration: 0.5s


@media screen and (max-width: 40em)
  .btn--settings-close
    font-size: 1.25em

  .settings__suggestion
    font-size: 80%
    width: 100%

  .settings__suggestion:nth-child(2),
  .settings__suggestion:nth-child(3)
    display: none


a, .btn
  text-decoration: none
  color: #d17c78
  outline: none

.settings-wrap
  font-size: 0.85em
  position: absolute
  top: 2.15em
  right: 2em
